<div class="big-card__container">
    <div class="big-card__photo">
        <img 
            src="https://i.stack.imgur.com/luaq2.png"
            alt=""
            height="200px"
        >
    </div>

    <div class="big-card__title">
        <h2><a href="#">Saiu a nova versão do Angular</a></h2>
    </div>
    <div class="big-card__description">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil modi voluptates debitis rem est tempora neque eius, eum ipsa beatae ad facere tempore eveniet. Vero ad voluptatum fuga tempore ducimus.</p>
    </div>
</div>
