.menu-title__container {
    color: white;
    width: 100%;
}

.menu-title__container hr {
    margin: 20px auto 5px auto;
    width: 100%;
}

.menu-title__container h1 {
    margin: 15px auto;
    font-size: 8.4375rem;
    font-family: 'segoe UI';
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .menu-title__container h1 {
        font-size: 3rem;
    }
}